{% extends 'layout.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <form action="/crear_cliente" method="POST" class="row g-1 mb-3">
            <div class="col">
                <input type="text" class="form-control" name="nombre" placeholder="Nombre del cliente">
            </div>
            <div class="col">
                <input type="text" class="form-control" name="direccion" placeholder="Direccion del cliente">
            </div>
            <div class="col col-1">
                <input type="text" class="form-control" name="cp" placeholder="CP">
            </div>
            <div class="col">
                <input type="text" class="form-control" name="ciudad" placeholder="Ciudad y Estado">
            </div>
            <div class="col col-2">
                <input type="text" class="form-control" name="telefono" placeholder="Telefono">
            </div>
            <div class="col">
                <input type="text" class="form-control" name="rfc" placeholder="R. F. C.">
            </div>
            <div class="col-12">
                <input type="submit" class="btn btn-success mt-2" value="Registrar">
            </div>
        </form>
    </div>

    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <th>ID</th>
            <th class="col-nombre">NOMBRE</th>
            <th>DIRECCION</th>
            <th>C. P.</th>
            <th class="col-ciudad">CIUDAD</th>
            <th>TELEFONO</th>
            <th>RFC</th>
            <th class="col-acciones">ACCIONES</th>
        </thead>
        <tbody>
            {% for dato in listar_clientes %}
            <tr>
                <td class="align-middle">{{dato.id_cliente}}</td>
                <td class="align-middle">{{dato.nombre}}</td>
                <td class="align-middle">{{dato.direccion}}</td>
                <td class="align-middle">{{dato.cp}}</td>
                <td class="align-middle">{{dato.ciudad}}</td>
                <td class="align-middle">{{dato.telefono}}</td>
                <td class="align-middle">{{dato.rfc}}</td>
                <td class="align-middle"><a class="btn btn-primary"
                        href="{{ url_for('editar_cliente', id_cliente = dato.id_cliente) }}" data-bs-toggle="modal"
                        data-bs-target="#modalCliente{{dato.id_cliente}}"><i class="fas fa-edit"></i></a>|<a
                        class="btn btn-danger" href="{{ url_for('borrar_cliente', id_cliente = dato.id_cliente) }}"
                        onclick="return confirm('¿Estás seguro de que deseas eliminar este cliente?')"><i
                            class="fas fa-trash"></i></a>
                </td>
                {% include 'modal_cliente.html' %}

            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}