{% extends 'layout.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="mt-2 mb-5">
        <form action="/crear_cliente" method="POST">
            <input type="text" name="nombre" placeholder="Nombre del cliente">
            <input type="text" name="direccion" placeholder="Direccion del cliente">
            <input type="text" name="cp" placeholder="Codigo Postal">
            <input type="text" name="ciudad" placeholder="Ciudad y Estado">
            <input type="text" name="telefono" placeholder="Telefono">
            <input type="text" name="rfc" placeholder="R. F. C.">
            <input type="submit" class="btn btn-success mt-2" value="Registrar">
        </form>

    </div>

    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <th>ID</th>
            <th>NOMBRE</th>
            <th>DIRECCION</th>
            <th>C. P.</th>
            <th>CIUDAD</th>
            <th>TELEFONO</th>
            <th>RFC</th>
            <th>ACCIONES</th>
        </thead>
        <tbody>
            {% for dato in listar_clientes %}
            <tr>
                <td>{{dato.id_cliente}}</td>
                <td>{{dato.nombre}}</td>
                <td>{{dato.direccion}}</td>
                <td>{{dato.cp}}</td>
                <td>{{dato.ciudad}}</td>
                <td>{{dato.telefono}}</td>
                <td>{{dato.rfc}}</td>
                <td><a class="btn btn-primary" href="{{ url_for('editar_cliente', id_cliente = dato.id_cliente) }}"
                        data-bs-toggle="modal" data-bs-target="#modalCliente{{dato.id_cliente}}"><i class="fas fa-edit"></i></a>|
                    <a class="btn btn-danger" href="{{ url_for('borrar_cliente', id_cliente = dato.id_cliente) }}"
                        onclick="return confirm('¿Estás seguro de que deseas eliminar este cliente?')"><i class="fas fa-trash"></i></a>
                </td>
                {% include 'modal_cliente.html' %}

            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}