{% extends 'layout.html' %}

{% block head %}
{% endblock %}


{% block body %}

<div class="container">


    <form action="{{ url_for('consultas')}}" method="GET" class="row g-3">
        <div>
            <h3>BUSQUEDA POR FECHA:</h3>
        </div>
        <div class="col-md-3">
            <input type="month" name="fecha_busqueda" id="" value="{{ fecha_busqueda}}" class="form-control">
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-search"></i> Buscar...
            </button>
        </div>
    </form>



    <div class="d-flex justify-content-between my-3">
        {% if presupuestos.has_prev %}
        <a href="{{ url_for('consultas', page=1, fecha_busqueda=fecha_busqueda) }}" class="btn btn-primary">Primeros
            registros</a>
        <a href="{{ url_for('consultas', page=presupuestos.prev_num, fecha_busqueda=fecha_busqueda) }}"
            class="btn btn-primary"><i class="fas fa-arrow-left"></i></a>
        {% else %}
        <div></div> <!-- Placeholder for spacing -->
        {% endif %}
        {% if presupuestos.has_next %}
        <a href="{{ url_for('consultas', page=presupuestos.next_num, fecha_busqueda=fecha_busqueda) }}"
            class="btn btn-primary"><i class="fas fa-arrow-right"></i></a>
        <a href="{{ url_for('consultas', page=total_pages, fecha_busqueda=fecha_busqueda) }}"
            class="btn btn-primary">Registros más recientes</a>
        {% endif %}
    </div>

    <table class="table table-bordered table-hover fs-4 text-center">
        <thead class="table-dark text-center">
            <th>#</th>
            <th style="width: 130px;">FECHA</th>
            <th style="width: 220px;">CLIENTE</th>
            <th>ASUNTO</th>
            <th style="width: 170px;">SUBTOTAL</th>
            <th class="col-acciones">ACCIONES</th>
        </thead>
        <tbody>
            {% for dato in presupuestos.items %}
            <tr class="align-middle">
                <td class="fs-5">{{dato.id_presupuesto}}</td>
                <td class="fs-5">{{ dato.fecha.strftime('%d-%m-%Y') }}</td>
                <td class="fs-5">{{dato.cliente.nombre}}</td>
                <td class="fs-5">{{ presupuesto_contacto[dato.id_presupuesto].mensaje if dato.id_presupuesto in presupuesto_contacto
                    else '' }}</td>
                <td>$ {{ '{:,.2f}'.format(dato.subtotal) if presupuestos else '0.00' }}</td>
                <td>
                    <a href="{{url_for('consultar_presupuesto', id_presupuesto=dato.id_presupuesto)}}"
                        class="btn btn-primary fs-4"><i class="fas fa-search"></i></a>
                    <!-- CAMBIAR A ID_PRESUPUESTO CUANDO SE CAMBIEN LA FUNCION A 'consultar_presupuesto' -->
                    <a href="{{ url_for('remision', presupuesto_id=dato.id_presupuesto)}}"
                        class="btn btn-success fs-4">Remision</a>
                </td>
            </tr>
            {% endfor %}
    </table>
    <div class="d-flex justify-content-between my-3">
        {% if presupuestos.has_prev %}
        <a href="{{ url_for('consultas', page=1, fecha_busqueda=fecha_busqueda) }}"
            class="btn btn-primary fs-3">Primeros
            registros</a>
        <a href="{{ url_for('consultas', page=presupuestos.prev_num, fecha_busqueda=fecha_busqueda) }}"
            class="btn btn-primary"><i class="fas fa-arrow-left"></i></a>
        {% else %}
        <div></div> <!-- Placeholder for spacing -->
        {% endif %}
        {% if presupuestos.has_next %}
        <a href="{{ url_for('consultas', page=presupuestos.next_num, fecha_busqueda=fecha_busqueda) }}"
            class="btn btn-primary"><i class="fas fa-arrow-right"></i></a>
        <a href="{{ url_for('consultas', page=total_pages, fecha_busqueda=fecha_busqueda) }}"
            class="btn btn-primary">Registros más recientes</a>
        {% endif %}
    </div>
</div>

{% endblock %}