{% extends 'layout.html' %}

{% block head %}
{% endblock %}


{% block body %}

<div class="container">

    <h1 class="fs-3">ORDEN DE PRODUCCION PARA EL PRESUPUESTO: {{presupuesto_id}}</h1>
    <h2>CLIENTE: BIMBO</h2>
    <h2>FECHA: 01/05/2024</h2>

    <table class="table">
        <thead>
            <th>#</th>
            <th>DESCRIPCION</th>
            <th>CANTIDAD</th>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>PLACA CORTADA CON LASER</td>
                <td>1</td>
            </tr>
        </tbody>
    </table>

    <h1>DIBUJO O ANEXAR DIBUJO</h1>


</div>

{% endblock %}