{% extends 'layout.html' %}

{% block head %}
{% endblock %}


{% block body %}

<div class="container">

    <h1 class="fs-3">ORDEN DE PRODUCCION PARA EL PRESUPUESTO: {{presupuesto.id_presupuesto}}</h1>
    <h2>CLIENTE: {{cliente.nombre}}</h2>
    <h2>FECHA: {{presupuesto.fecha.strftime('%d-%m-%Y')}}</h2>

    <table class="table">
        <thead>
            <th scope="col">#</th>
            <th scope="col">DESCRIPCION</th>
            <th scope="col">CANTIDAD</th>
        </thead>
        <tbody>
            {% for item in partidas %}
            <tr>
                <td>{{item.partida}}</td>
                <td>{{item.descripcion}} {{item.material}}</td>
                <td>{{item.cantidad}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <a href="{{ url_for('orden_produccion', presupuesto_id=presupuesto.id_presupuesto)}}"
                        class="btn btn-info fs-3">GENERAR ORDEN DE PRODUCCION</a>


</div>

{% endblock %}