{% extends 'layout.html' %}

{% block head %}
{% endblock %}


{% block body %}

<div class="container">
    <h1>Total: $ {{ '{:,.2f}'.format(total_suma) }}</h1>
    <table class="table">
        <thead>
            <th>#</th>
            <th>Fecha</th>
            <th>Total</th>
        </thead>
        <tbody>
            {% for dato in remisiones %}
            <tr>
                <td>{{dato.presupuesto_id}}</td>
                <td>{{dato.fecha.strftime('%d-%m-%Y')}}</td>
                <td>$ {{ '{:,.2f}'.format(dato.total) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}